---
import Badge from "./Badge.astro";

const { name, difficult, map, gotThere } = Astro.props

const medium = "text-yellow-500 border-yellow-500 bg-yellow-100"
const hard = "text-red-500 border-red-500 bg-red-100"
const easy = "text-green-500 border-green-500 bg-green-100"

let color

if (difficult === "media") {
  color = medium
} else if (difficult === "fácil") {
  color = easy
} else if (difficult === "difícil") {
  color = hard
}
---

<div class={`w-[20rem] md:w-[35rem] h-fit flex-shrink-0 rounded-xl border-2 border-solid ${color}`}>
  <div class="flex justify-center items-center gap-2 lg:gap-4 py-4">
    <h3 class="font-bold text-xl lg:text-3xl">{name}</h3>
    <Badge difficult={difficult}/>
  </div>
  <div set:html={map}>
  </div>
  <div class="flex my-4 justify-center items-center">
    <a href={gotThere} target="_blank" class="inline-block py-2 px-4 font-bold text-xl text-blue-500 bg-blue-100 border-2 border-solid border-blue-500 rounded-xl hover:bg-blue-500 hover:text-blue-100">
      ¿Cómo llegar?
    </a>
  </div>
</div>